* {
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-contener-logo-shop {
    height: 72px;
    background-color: #10BBD5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin-left: 52px;
}

.cart {
    display: inline-block;    
    background-image: url(../img/cart_icon.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 52px;
    color: #fff;
}

.zero::before {
    content: '0';
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    display: block;
    left: 19px;
    top: 12px;
    position: relative;
}

.header-button-shop {
    position: relative;
    right: 60px;   
    width: 55px;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-menu-text {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.header-menu-inform {
    display: flex;
    gap: 40px;
    margin-right: 52px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header-href-by-category  {
    margin-left: 52px;
}

.main {
    background: var(--beige, #EEEEEF);    
}

.main-title {
    display: block;
    margin: 0 52px;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding-top: 36px;
    padding-bottom: 23px;
}

.main-catalog-book {
    display: flex;
    justify-content: center;
}

.main-catalog-book-grid {
    width: 1296px;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 24px;
    row-gap: 32px;
    margin: 24px auto 120px auto;   
}

.main-catalog-book-hrev {
    display: block;
    width: 306px;
    height: 512px;
    text-decoration: none;
    background-color:#F8FDFE;
    position: relative;    
}

.main-catalog-img-book {
    display: block;
    width: 178px;
    margin: 32px auto 0 auto;
}

.hit::after {
    content: 'Hit';
    display: inline-block;
    background-color: #4200FF;
    border-radius: 4px;
    width: 36px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 32px;
    top: 32px;
    position: absolute;
}

.new::after {
    content: 'New';
    display: inline-block;
    background-color: #AF39E7;
    border-radius: 4px;
    width: 47px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 32px;
    top: 32px;
    position: absolute;
}

.off-10::before {
    content: '10% off';
    display: inline-block;
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 72px;
    top: 32px;
    position: absolute;
}

.off-16::before {
    content: '16% off';
    display: inline-block;
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 72px;
    top: 32px;
    position: absolute;
}

.off-7::before {
    content: '7% off';
    display: inline-block;
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 72px;
    top: 32px;
    position: absolute;
}

.off-11::before {
    content: '11% off';
    display: inline-block;
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 83px;
    top: 32px;
    position: absolute;
}

.off-30::before {
    content: '30% off';
    display: inline-block;
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 83px;
    top: 32px;
    position: absolute;
}

.off-20::before {
    content: '20% off';
    display: inline-block;
    background-color: #EA33C0;
    border-radius: 4px;
    width: 70px;
    height: 32px;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    left: 32px;
    top: 32px;
    position: absolute;
}

.main-catalog-book-name-book {
    display: block;
    margin: 16px 32px;  
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;    
    border-bottom: 1px solid #8E8E8E;    
}

.main-catalog-book-avtor-book {
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 32px;
}

.main-catalog-book-price-actual {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 8px 32px;
}

.discount-22-0::after {
    content: '22,00 €';
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
    position: relative;
    left: 24px;
}

.discount-35-50::after {
    content: '35,50 €';
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
    position: relative;
    left: 24px;
}

.discount-13-50::after {
    content: '13,50 €';
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
    position: relative;
    left: 24px;
}

.discount-11-50::after {
    content: '11,50 €';
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
    position: relative;
    left: 24px;
}

.discount-14-50::after {
    content: '14,50 €';
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
    position: relative;
    left: 24px;
}

.main-catalog-book-button {
    display: block;
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
    background-color: #4C394E;
    border-radius: 4px;
    margin: 16px 32px;    
}

.main-catalog-book-button:hover {
    background-color: #744978;
}

.main-and-up-button {
    display: block;
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 24px;
    background-color: #4D762D;
    border-radius: 4px;
    margin: 16px 32px;    
}

.main-and-up-button:hover {
    background-color: #6DB236;
}

.main-button-chat-img {
    position: fixed;
    bottom: 28px;
    right: 28px;
    background-color: #10BBD5;
    border-radius: 45px;
    border: 0;
    font-size: 0;    
    width: 64px;
    height: 64px;
}

.footer {
    height: 88px;
    background-color: #4C394E;    
}

.footer-info {
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;    
    margin: 0 52px;
    padding-top: 32px;
}

.copirait::before {
    content: '©';
}